<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

</body>

<script type="text/javascript">
    const ireland = {
        live: 'Dublin',
        love: 'Galway'
    };

    const newText = `I live in ${ireland.live} and I'm love for ${ireland.love}`
    console.log(newText);


    const fruits = "banana"
                    + "\n"
                    + "orange"
                    + "\n"
                    + "Apple"

    const newFruits =
    `bananda
    Apple
    orange`;

    console.log(fruits);
</script>
</html>
